---
const platform = "github";
const username = "bammer87";
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
    <Social platform="instagram" username="bammer87" />
    <Social platform="twitter" username="mboehm87" />
  </p>
</footer>
